<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_FOODConnectionString" connectionString="Data Source=.;Initial Catalog=QL_FOOD;User ID=sa;Password=Qlk@123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>